NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA4vwLUiGu0_SXJCrthjmK6sKAxeKGYYqY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lms-aa603.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lms-aa603
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lms-aa603.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=75675339309
NEXT_PUBLIC_FIREBASE_APP_ID=1:75675339309:web:5c092a0272528e4c31c6a4